<div class="form-container">
    <h1>Login</h1>
    <form [formGroup]="formGroup">
        <div>
            <input type="text"
                   placeholder="Name"
                   formControlName="name">
        </div>
        <div>
            <input type="text"
                   placeholder="Email"
                   formControlName="email">
        </div>
        <div>
            <input type="password"
                   placeholder="Password"
                   formControlName="password">
        </div>
        <div>
        </div>
    </form>
    <div class="authetication-buttons">
        <button (click)="register()" class="authetication-button">Register</button>
        <button (click)="goToLogin()" class="authetication-text-button">Already have an account?</button>
    </div>
</div>ß