#galley-background-container {
    padding: 10px;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    background-color: rgba($color: #212529, $alpha: 0.8);
}

.image:hover {
    scale: 1.2;
}