<div id="galley-background-container">
  <mat-grid-list gutterSize="10" cols="4" rowHeight="300px">
    <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
    >
      <img [src]="tile.imageLink" alt="">
    </mat-grid-tile>
  </mat-grid-list>
</div>

  