<div id="home-container">
    <div class="grid-row">
        <div class="grid-column ">
            <div>
            
                <h1>Welcome to Saint Luka Hotel</h1>
                
            </div>
        </div>
        <div class="grid-column">
            <embed src="https://www.youtube.com/embed/0t4kFGso77E"/>
        </div>
    </div>
    <div class="grid-row">
        <div class="grid-column">
            <img src="https://www.gannett-cdn.com/-mm-/05b227ad5b8ad4e9dcb53af4f31d7fbdb7fa901b/c=0-64-2119-1259/local/-/media/USATODAY/USATODAY/2014/08/13/1407953244000-177513283.jpg" />
        </div>
        <div class="grid-column ">
            <h4>НАЙ-НОВИЯТ 5 ЗВЕЗДЕН КОМПЛЕКС</h4>
            <p><em>Хотелът е разположен в подножието на гората, сред дивна гледка и уникална природа. Захранен е с една от най-благоприятните и лечебни минерални води във Велинград!
            Saint Luka Hotel, Велинград разполага с 126 модерно и комфортно обзаведени помещения за настаняване. От Двойна стая до VIP Апартамент.
            </em></p>
        </div>
    </div>
    <div class="grid-row">
        <div class="grid-column">
            <h4>ЗАВЕДЕНИЯ</h4>
            <p><em>
                Заведенията на територията на комплекса ще Ви пленят с 
                неповторима атмосфера, разнообразие от напитки и добра храна. На Ваше разположение са: Ресторант – Villa Maria, Лоби бар – Moët & Chandon, Уиски бар Luka, Бар Басейн Luka.</em></p>
        </div>
        <div class="grid-column">
           <img src="https://i.pinimg.com/564x/a4/63/36/a4633647bf2703b6acefed8061da8984.jpg" />
        </div>
    </div>
    <div class="grid-row">
        <div class="grid-column">
            <img src="https://i.pinimg.com/564x/a9/af/8f/a9af8f4f53f9fe4f0b7bcc0c5eca4492.jpg" />
        </div>
        <div class="grid-column">
           <h4>ГРИЖАТА ЗА ВАС – НАШИТЕ ГОСТИ</h4>
           <p><em>Безспорно най-голямото ни бижу е SPA Центъра – изключително наличие на вътрешни и външни съоръжения, традиционни, авторски масажи и процедури, изцяло захранен с жива минерална вода! Хотелът е изключително подходящ за всякакви тиймбилдинги. Конферентна зала, бизнес център и екип от професионалисти ще превърнат Вашето мероприятие в истинско събитие!</em></p>
        </div>
    </div>
</div>
