h1{
    color: #A9927D;
    background-color: #212529;
    text-transform: uppercase;
    padding: 20px;
    font-size: 50px;

}

#home-container{
    background-color:#ede0d4;
    // flex-wrap: wrap;
    // display: flex;
    // width: 100%;
    // height: 100%;
    // background-image: url(../../images/background.png);
    // background-size: cover;
    // background-repeat: no-repeat;
}
embed{
    width: 100%;
    height: 100%;
}

.grid-row {
    width: 100%;
    display: flex;
}

.grid-column {
    height: 400px;
    flex: 1;
}

img {
    width: 100%;
    height: 100%;
}

.pd20 {
    padding: 20px;
}

.background {
    background-color: red;
}
p{
    font-size: 25px;
    padding: 40px;
}
h4{ 
    padding: 50px;
    font-style: italic;
    color: #A9927D;
    font-size: 30px;
    background-color: #212529;
}