gallery{
    background-image: none;
    background-color: #F8F9FA;
}
h1{
    text-transform: uppercase;
    color: #F8F9FA;
    background-color: rgba($color: #80b918, $alpha: 0.9);
    padding: 20px;

}
.p-header{
    margin-top: 0px;
    height: 35px;
    padding: 20px;
    color: #F8F9FA;
    background-color: rgba($color: #80b918, $alpha: 0.9);
}
.grid-row {
    width: 100%;
    display: flex;
    background-color:#F8F9FA;
}

.grid-column {
    height: fit-content;
    flex: 1;
}

.grid-container {
    width: 100%;
    display: flex;
    background-color:#F8F9FA;
}
#home-container{
    background-color:#F8F9FA;
    // flex-wrap: wrap;
    // display: flex;
}
 mat-icon{
    margin-top: 10px;
    color: rgba($color: #80b918, $alpha: 0.9);
 }
 p{
    padding: 10px;
    font-size: 12px;
    margin-top: 60px;
    color: grey;
    
 }