<div id="home-container">
    <div class="grid-container">
        <div class="grid-column">
            <h1>Апартамент</h1>
            <gallery [items]="images"></gallery>
        </div>

        <div class="grid-column">
            <div class="grid-row">
                <div class="grid-column">
                    <p class="p-header">
                        <b>ТИП ПОМЕЩЕНИЕ:</b> 
                            Апартамент<br>
                        <b>НАПУСКАНЕ:</b> 
                            12:00 часа
                    </p>
                </div>
                <div class="grid-column">
                    <p class="p-header">
                        <b>НАСТАНЯВАНЕ:</b> 
                           15:00 часа
                    </p>
                </div>
            </div>
            <div class="grid-row">
                <div class="grid-column">
                    <mat-icon>home</mat-icon><span>Домашна обстановка</span><br>
                    <mat-icon>alarm</mat-icon><span>Събуждане в желан час</span><br>
                    <mat-icon>network_wifi</mat-icon><span>Безплатен Wi-Fi</span><br>
                    <mat-icon>tv</mat-icon><span>LCD Телевизор</span><br>
                    <mat-icon>pets</mat-icon><span>Позволени домашни любимци</span><br>
                </div>
                <div class="grid-column">
                    <mat-icon> local_cafe</mat-icon><span>Кафе машина</span><br>
                    <mat-icon>room_service</mat-icon><span>Room Service</span><br>
                    <mat-icon>volume_off</mat-icon><span>Шумоизолация</span><br>
                    <mat-icon> phone</mat-icon><span>Телефон</span><br>
                    <mat-icon> local_parking</mat-icon><span>Безплатен паркинг</span><br>
                </div>
            </div>
            <div class="grid-row">
                <div class="grid-column">
                    <p>
                        <b>Обща информация:</b><br>
                        Стилно обзаведият Апартамент, откриваща прекрасна панорамна гледка към района, за да усетете духа на планината и да се заредите с енергията на чистия въздух.<br>
                        Капацитет: четирима възрастни + две деца <br>
                        Размер на стаята: 45 – 47 m²<br>
                        Тераса: ДА<br>
                         <b>Самостоятелна баня / Душ кабина:</b><br>
                        • Сешоар и Халат за баня<br>
                        • Безплатни тоалетни принадлежности<br>
                        • Чехли и Хавлиени кърпи
                    </p>
                </div>
                <div class="grid-column">
                    <p> 
                        <b>Изглед:</b><br>
                        • Басейн<br> • Планина

                        <b>Домашни любимци:</b><br>
                       Малки породи до 3 кг. Имунизирани, чипирани и с паспорт. Не се допускат в териториите на SPA център, външен басейн и ресторант. Допълнителна такса: 20лв. / нощувка.<br>
                       
                        <b>Намаления и Доплащания: </b><br>
                       
                       * Деца от 0 – 12 год. може да използват бебешко креватче или съществуващо легло при заявка – БЕЗПЛАТНО.<br>
                       
                       * За да видите точните цени и информация за заетостта, моля добавете броя на децата и тяхната възраст, когато използвате търсачката.
                    </p>
                </div>
            </div>
        </div>
    </div>    
</div> 

                
                   
                    
                    
 



