<div id="bookings-container">
    <form  [formGroup]="formGroup" id="request-reservation">
        <mat-form-field class="ml24" appearance="fill">
          <mat-label>Брой дни</mat-label>
          <input formControlName="days" type="number" matInput placeholder="Брой дни">
        </mat-form-field>
        <mat-form-field class="ml24" appearance="fill">
            <mat-label>Начална дата</mat-label>
            <input formControlName="startDate" type="text" matInput placeholder="От ДД/ММ/ГГГГ">
        </mat-form-field>
        <mat-form-field class="ml24" appearance="fill">
            <mat-label>Крайна дата</mat-label>
            <input formControlName="endDate" type="text" matInput placeholder="До ДД/ММ/ГГГГ">
        </mat-form-field>
        <mat-form-field class="ml24" appearance="fill">
            <mat-label>Изберете вид на стая</mat-label>
            <mat-select [(value)]="select">
              <mat-option value="Единична">Единична</mat-option>
              <mat-option value="Двойна">Двойна</mat-option>
              <mat-option value="Апартамент">Апартамент</mat-option>
              <mat-option value="ВИП Апартамент">ВИП Апартамент</mat-option>
            </mat-select>
          </mat-form-field>
        <button (click)="reserve()" class="ml24" id="reservation-button" mat-flat-button color="primary">Резервация</button>
    </form>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Номер </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="userName">
          <th mat-header-cell *matHeaderCellDef> Име </th>
          <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="roomType">
          <th mat-header-cell *matHeaderCellDef> Вид помещение </th>
          <td mat-cell *matCellDef="let element"> {{element.roomType}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="days">
          <th mat-header-cell *matHeaderCellDef> Брой дни </th>
          <td mat-cell *matCellDef="let element"> {{element.days}} </td>
        </ng-container>
    
        <ng-container matColumnDef="approved">
            <th mat-header-cell *matHeaderCellDef> Одобрена </th>
            <td mat-cell *matCellDef="let element">
                <mat-icon *ngIf="(!element.approved)" style="color: red;">cancel</mat-icon>
                <mat-icon *ngIf="(element.approved)" style="color: green;">done_all</mat-icon>
            </td>`
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell  *matHeaderCellDef > </mat-header-cell>
            <mat-cell style="width: fit-content; height: 50px;" *matCellDef="let element" >
                 <button [disabled]="!canApprove" (click)="approve(element.id, true)" mat-flat-button color="primary">Одобри</button>
                 <button [disabled]="!canApprove" class="ml24" (click)="approve(element.id, false)" mat-flat-button color="warn">Откажи</button>
            </mat-cell>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
