table{
    width: 100%;
}

#bookings-container {
    background-color: white;
    padding: 20px 50px;
}

#request-reservation {
    display: flex;
    flex-direction: row;
}

.ml24 {
    margin-left: 24px;
}

form {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#reservation-button {
    height: fit-content;
}

mat-flat-button {
    width: fit-content;
    height: fit-content;
}