<div class="form-container">
    <h1>Login</h1>
    <form [formGroup]="formGroup">
        <div>
            <input type="text"
                   placeholder="Email"
                   formControlName="email">
        </div>
        <div>
            <input type="password"
                   placeholder="Password"
                   formControlName="password">
        </div>
        <div>
        </div>
    </form>
    <div class="authetication-buttons">
        <button (click)="login()" class="authetication-button">Login</button>
        <button (click)="goToRegister()" class="authetication-text-button">Don't have an account?</button>
    </div>
</div>