.form-container {
    padding: 50px 10px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 15px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.5);
}

.form-label {
    color: #f9e0d9;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 10px;
}

input {
    min-width: 250px;
    margin-top: 30px;
    padding: 10px;
    border-bottom: 2px solid #f9e0d9;
    border-radius: 5px;
    color: white;
}

input::placeholder {
    color: white;
}

.authetication-button {
    width: fit-content;
    padding: 10px;
    min-width: 100px;
    background-color: #b4a598;
    border-radius: 5px;
    filter: drop-shadow(0 0 2px #000000);
    margin: 5px;
    color: #F8F9FA;
    transition: all 0.3s ease-in-out;
}

.authetication-button:hover {
    background-color: #947357;
    cursor: pointer;
}

.authetication-text-button {
    margin-top: 5px;
    color: #fff1ee;
}

.authetication-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

h1 {
    color: white;
    font-size: 35px;
}
