#navigation-container {
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #212529;
}

#navigation-logo {
    display: flex;
    align-items: center;
}

.logo-icon {
    font-size: 45px;
    margin-right: 10px;
    color: #F8F9FA;
}

//Aleksandur e pedal

h2 {
    
    margin-right: 25px;
    color: #F8F9FA;
    font-size: 20px;
}

li {
    padding: 20px;
    color: #F8F9FA;
    margin: 0 10px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

li:hover {
    background-color: #343A40;
    cursor: pointer;
}

ul {
    display: flex;
    margin-right: auto;
}


.dropbtn {
    width: 100%;
    height: 100%;
    color: #F8F9FA;
    font-size: 16px;
    border: none;
  }

.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 20px;
    background-color: rgba($color: #212529, $alpha: 1);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
  }
  
.dropdown-content a {
    color: #F8F9FA;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropdown-content a:hover {background-color: #343A40;}
  
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {background-color: none;}

.li-dropdown:hover .dropdown-content {display: block;}

p{
    color: white;
}