<div id="navigation-container">
    <div id="navigation-logo">
        <fa-icon class="logo-icon" [icon]="faHotel"></fa-icon>
        <h2>Hotel Saint Luka</h2>
    </div>
    <p *ngIf="authService.isAuthenticated()">Здравейте {{authService.getUserFromStorage().name}}</p>
    <ul id="navigation">
      <li (click)="navigateTo('/home')">Home</li>
      <li (click)="navigateTo('/bookings')">Boookings</li>
      <li class="li-dropdown">
        <div class="dropdown">
            <button class="dropbtn">Units</button>
            <div class="dropdown-content">
              <a (click)="navigateTo('/room-single')">Единична стая</a>
              <a (click)="navigateTo('/room')">Двойна стая</a>
              <a (click)="navigateTo('/apartment')">Апартамент</a>
              <a (click)="navigateTo('/apartament-vip')">ВИП Апартамент</a>
            </div>
          </div>
      </li>
      <li (click)="navigateTo('/gallery')">Gallery</li>
      <li (click)="navigateTo('/restaurant')">Restaurant</li>
    </ul>
    <div *ngIf="!authService.isAuthenticated()">
        <button (click)="navigateTo('/login')" class="authetication-button">Login</button>
        <button (click)="navigateTo('/register')" class="authetication-button">Register</button>
    </div>
    <div *ngIf="authService.isAuthenticated()">
      <button (click)="logout()" class="authetication-button">Logout</button>
  </div>
</div>
